<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
  </head>
  <body>
    <!-- HERO -->
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <img
          src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <div>
          <h1 class="text-5xl font-bold">Education Tech!</h1>
          <p class="py-6">
            Selamat datang di Education Tech, platform pembelajaran coding
            terbaik untuk semua level! Baik Anda seorang pemula yang baru
            memulai perjalanan coding atau seorang profesional yang ingin
            memperdalam keterampilan, kami menyediakan kursus yang disusun oleh
            ahli industri untuk membantu Anda mencapai tujuan karier Anda.
          </p>
          <a href="/home.html" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
    <!-- END OF HERO -->
  </body>
</html>
